<div class="sidebar-section-title">
    <h3>Latest posts</h3>
</div>
<div class="sidebar-section-content">
    {{#get "posts" limit="10" as |latest|}}
        <ul>
            {{#foreach latest}}
                <li><span class="latest-post-info latest-post-title"><a class="js-ajax-link" title="{{title}} | {{@blog.title}}" href="{{url}}">{{title}}</a></span><br/>
                    <span class="latest-post-info latest-post-meta"><time datetime="{{published_at}}">{{date format="YYYY-MM-DD"}}</time> {{author}}</span>
                </li>
            {{/foreach}}
        </ul>
    {{/get}}
</div>
