{{#foreach posts}}
    <header class="post-header clearfix">
        <a class="js-ajax-link" title="{{title}} | {{@blog.title}}" href="{{url}}">
            <h1 class="post-title">{{title}}</h1>
        </a>

        <p class="post-date">
            <time datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}} by <strong>{{author}}</strong></time>
        </p>
    </header>

    <section class="post-excerpt clearfix">
        {{#if image}}
            <img class="post-featured-image" src="{{image}}">
        {{/if}}
        <p>{{excerpt words="100"}}...<br /><a class="read-more" href="{{url}}"><i class="fa fa-arrow-right"></i> Read more</a></p>
    </section>
{{/foreach}}
