{{#foreach navigation}}
    <li class="site-nav-item{{#if current}} site-nav-current{{/if}} site-nav-{{slug}}">
        <a id="nav-link-{{slug}}" class="js-ajax-link" title="{{label}}" href="{{url absolute="true"}}">{{label}}</a>
    </li>
{{/foreach}}
    <li class="site-nav-item site-nav-login">
        <a id="nav-link-login" title="Login" href="/ghost"><i class="fa fa-sign-in"></i></a>
    </li>
