<article class="post-container {{post_class}}">
    <header class="post-header">
        <a class="js-ajax-link" title="{{title}} | {{@blog.title}}" href="{{url}}">
            <h1 class="post-title">{{title}}</h1>
        </a>

        <p class="post-date">
            <time datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}} by <strong>{{author}}</strong></time>
        </p>
    </header>

    <section class="post-content clearfix">
        {{#if image}}
            <img class="post-featured-image" src="{{image}}">
        {{/if}}

        {{{content}}}
    </section>

    <footer class="post-footer clearfix">
        {{#if tags}}
            <div class="post-tags"><span class="post-legend-icon"><i class="fa fa-tags"></i></span> {{tags}}</div>
        {{/if}}

        <div class="share">
            <span class="post-legend-icon"><i class="fa fa-share-alt"></i></span>

            <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span class="hidden">Twitter</span>
            </a>

            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-facebook-square"></i>
                <span class="hidden">Facebook</span>
            </a>

            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-google-plus"></i>
                <span class="hidden">Google+</span>
            </a>

            <a class="icon-google-plus" href="http://pinterest.com/pinthis?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'pinterest-share', 'width=490,height=530');return false;">
                <i class="fa fa-pinterest-p"></i>
                <span class="hidden">Pinterest</span>
            </a>
        </div>
    </footer>
</article>
